---
import AboutIcon from "@icons/AboutIcon.astro"
---
<a
href="#about"
class="rounded-full transition-all ease-in duration-[200ms] hover:bg-white hover:text-black"
>
<AboutIcon class="size-7 p-[7px]" aria-label="About Me"/>
</a>