---
import ProjectsIcon from "@icons/ProjectsIcon.astro"
---

<a
    href="#projects"
    class="rounded-full transition-all ease-in duration-[200ms] hover:bg-white hover:text-black"
  >
    <ProjectsIcon class="size-7 p-[7px]" aria-label="Projects"/>
  </a>