---
import SkillsIcon from "@icons/SkillsIcon.astro"
---

<a
    href="#skills"
    class="rounded-full transition-all ease-in duration-[200ms] hover:bg-white hover:text-black"
  >
    <SkillsIcon class="size-7 p-[7px]" aria-label="Skills"/>
  </a>