---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "./ProjectCollection.astro";

interface Project {
  title: string;
  description: string;
  github?: string;
  demo?: string;
}
---

<div class="w-full max-w-6xl px-4 py-8">
  <swiper-container
    slides-per-view="auto"
    pagination="true"
    pagination-clickable="true"
    pagination-dynamic-bullets="true"
    grab-cursor="true"
    space-between="30"
    breakpoints='{"640":{"slidesPerView":2},"1024":{"slidesPerView":3}}'
    lazy="true"
    class="!py-4 !pb-9"
  >
    {
      projects.map((project: Project) => (
        <swiper-slide>
          <ProjectCard {...project} />
        </swiper-slide>
      ))
    }
  </swiper-container>
</div>

<script>
  import { register } from "swiper/element/bundle";
  register();
</script>

<style>
  swiper-container {
    --swiper-theme-color: #12f7d6;
    --swiper-navigation-size: 28px;
    padding: 2rem;
    overflow: visible;
  }

  swiper-slide {
    height: auto;
  }


  swiper-container::part(bullet) {
    background-color: white;
    opacity: 0.5;
  }

  swiper-container::part(bullet-active) {
    background-color: #12f7d6;
    opacity: 1;
  }

  swiper-container::part(pagination) {
    position: relative;
    margin-top: 20px;
  }
</style>
