---
import Mail from "@icons/Mail.astro";
import P from "@icons/P.astro";
import P_ from "@icons/P_.astro";
import H1 from "@icons/H1.astro";
import H1_ from "@icons/H1_.astro";
import Tech from "@components/common/Tech.astro";
import ProfileCard from "./home/ProfileCard.astro";
---

<div class="container mx-auto px-4 flex flex-col flex-wrap">
  <main
    id="home"
    class="min-h-screen py-24 mx-4 lg:mx-24 xl:mx-20 2xl:mx-8 max-w-[1280px] place-content-center"
  >
    <div class="flex flex-wrap justify-between mt-4 md:mt-8 xl:mt-24">
      
      <ProfileCard />

      <div
        class="main-text relative max-w-[500px] font-thin mt-4 mx-5 mx-auto md:mx-20 lg:mx-12 xl:mx-10 mb-12 mx-auto"
      >
        <H1 class="absolute left-[-15px] top-[-10px]" />
        <p class="text-4xl font-ubuntu leading-tight text-pretty">
          Hey <br /> I'm <span class="highlight">Eduardo</span>, Front-End
          Developer
        </p>
        <H1_ class="absolute right-0 mb-16" />

        <div class="mt-10 relative">
          <P class="mb-4 absolute left-[-15px]" />
          <p class="py-4 text-pretty">
            I help business grow by crafting amazing web experiences. If you're
            looking for a developer that likes to get stuff done.
            <P_ class="mt-4 absolute left-[-15px]" />
          </p>
        </div>
        <p
          class="flex text-2xl items-center text-[#12F7D6] font-bold mt-8 pb-6"
        >
          Lets Talk!

          <a
            href="mailto:EduardoVG@proton.me"
            class="bg-[#43454D] rounded-full ml-3 transition-all ease-in duration-[200ms] hover:bg-[#12F7D6]"
            aria-label="Email"
          >
            <Mail
              class="size-9 p-[8px] text-[#12F7D6] transition-all ease-in duration-[200ms] hover:text-[#43454D]"
              alt="Email"
            />
          </a>
        </p>
      </div>
      <div
        class="info_tech flex flex-col h-fit py-10 w-44 bg-[#1A1E23] rounded-[55px] gap-y-10 mx-auto self-center lg:mx-0"
      >
        <Tech number={4} text="Programming Languages" />
        <Tech number={6} text="Developed Projects" />
        <Tech number={1} text="Year of Experience" />
      </div> 
    </div>
  </main>
</div>
