---
import ProjectsSwiper from "@components/swiper/ProjectsSwiper.astro";
import Line2 from "@icons/Line2.astro";
---
<section
    id="projects"
    class="bg-cover bg-center min-h-screen place-items-center text-center relative overflow-visible"
    style="background-image: url(/img/projects-bg.png);"
  >
    <div class="mx-4 pt-20 pb-0 md:pb-10 ">
      <h3 class="text-5xl text-[#12F7D6]">Projects</h3>
      <Line2 class="mx-auto mb-3 mt-1" />
      <p>I had the pleasure of working with these awesome projects</p>
    </div>
    <ProjectsSwiper />
  </section>