---
import Download from "../icons/Download.astro";
import Layout from "../layouts/Layout.astro";
import Mail from "../icons/Mail.astro";
import Work from "../icons/Work.astro";
import Location from "../icons/Location.astro";
import H1 from "../icons/H1.astro";
import H1_ from "../icons/H1_.astro";
import P from "../icons/P.astro";
import P_ from "../icons/P_.astro";
import FrontEnd from "../icons/Front-End.astro";
import BackEnd from "../icons/Back-End.astro";
import App from "../icons/App.astro";
import HTML from "../icons/HTML.astro";
import CSS from "../icons/CSS.astro";
import JS from "../icons/JS.astro";
import REACT from "../icons/REACT.astro";
import Code from "../icons/Code.astro";
import Line from "../icons/Line.astro";
import Projects from "../icons/Projects.astro";
import Line2 from "../icons/Line2.astro";
import Send from "../icons/Send.astro";
import Badge from "../components/Badge.astro";
---

<style>
  .highlight {
    color: #12f7d6;
  }

  #textarea {
    resize: none;
  }
</style>

<Layout title="Eduardo Valencia - Portfolio">
  <div class="container mx-auto px-4">
    <main id="home" class="h-fit pb-20">
      <div>
        <h1 class="flex justify-center mx-auto text-[#98FAEC] text-8xl my-11">
          Developer
        </h1>
      </div>
      <div class="flex flex-wrap justify-between">
        <div
          class="relative h-fit rounded-tl-[100px] rounded-br-[100px] p-4 max-w-fit justify-center items-center border-white border-[3px]"
        >
          <div
            class="absolute top-[-6px] left-[-6px] inset-0 border-t-[4px] border-l-[4px] border-[#12F7D6] rounded-tl-[101px] z-0 pointer-events-none"
          >
          </div>
          <img
            src="/img/profile.jpg"
            alt="Foto de perfil"
            class="mx-auto size-24 rounded-full mt-5 mb-2 border-[#12F7D6] border-[3px]"
          />
          <p class="text-center text-2xl">
            Eduardo
            <p class="text-xs text-center">Front-End Developer</p>
          </p>

          <div class="mt-6">
            <a
              class="flex text-xs mb-3"
              href="mailto:EduardoVG@proton.me"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Mail class="size-4 mr-3 text-[#12F7D6]" />
              EduardoVG@proton.me
            </a>
            <a
              class="flex text-xs mb-3"
              href="https://maps.app.goo.gl/xovWGKrJXmpGXnFx9"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Location class="size-4 mr-3 text-[#12F7D6]" />
              México
            </a>
            <a
              class="flex text-xs mb-5"
              href="https://www.linkedin.com/"
              rel="noopener noreferrer"
              target="_blank"
            >
              <Work class="size-4 mr-3 text-[#12F7D6]" />
              Available for work
            </a>
            <div class="flex">
              <Badge> HTML </Badge>
              <Badge> CSS </Badge>
              <Badge> JS </Badge>
              <Badge> REACT </Badge>
            </div>
          </div>

          <button
            class="relative mt-4 bg-white px-2 py-3 rounded-3xl text-black mb-5 z-10 flex h-[50px] w-40 items-center justify-center overflow-hidden shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-[#12f7d6] before:duration-[350ms] before:ease-out hover:before:h-56 hover:before:w-56"
          >
            <a class="z-20" href="">Download CV</a>

            <Download class="mx-2 z-20 size-6" />
          </button>
        </div>

        <div class="relative size-96 w-[600px] font-thin mt-4">
          <H1 class="absolute left-[-15px] top-[-10px]" />
          <p class="text-6xl font-ubuntu leading-tight">
            Hey <br /> I'm <span class="highlight">Eduardo</span>, <br /> Front-End
            Developer
          </p>
          <H1_ class="absolute right-0 mb-16" />

          <div class="mt-14 relative">
            <P class="mb-4 absolute left-[-15px]" />
            <p class="py-6">
              I help business grow by crafting amazing web experiences. If
              you're looking for a developer that likes to get stuff done.
              <P_ class="mt-4 absolute left-[-15px]" />
            </p>
          </div>
          <p
            class="flex text-2xl items-center text-[#12F7D6] font-bold mt-8 pb-12"
          >
            Lets Talk!

            <a
              href="mailto:EduardoVG@proton.me"
              class="bg-[#43454D] rounded-full ml-3 transition-all ease-in duration-[200ms] hover:bg-[#12F7D6]"
            >
              <Mail
                class="size-9 p-[8px] text-[#12F7D6] transition-all ease-in duration-[200ms] hover:text-[#43454D]"
                alt="Email"
              />
            </a>
          </p>
        </div>
        <div
          class="flex flex-col justify-center items-center h-80 w-44 bg-[#1A1E23] rounded-[60px] gap-y-10"
        >
          <div class="flex gap-x-5">
            <p class="text-4xl pl-4 text-[#12F7D6] font-bold">4</p>
            <p class="text-sm text-wrap">Programming Languages</p>
          </div>
          <div class="flex gap-x-5">
            <p class="text-4xl pl-4 text-[#12F7D6] font-bold">6</p>
            <p class="text-sm text-wrap">Development Tools</p>
          </div>
          <div class="flex gap-x-5">
            <p class="text-4xl pl-4 text-[#12F7D6] font-bold">8</p>
            <p class="text-sm text-wrap">Years of Experience</p>
          </div>
        </div>
      </div>
    </main>
  </div>

  <section
    id="about"
    class="bg-cover bg-center h-dvh bg-[#1A1E23]"
    style="background-image: url('/img/about-bg.svg');"
  >
    <div class="container mx-auto px-4 flex justify-around h-full items-end">
      <div id="info" class="my-auto flex flex-col relative bottom-0">
        <h2
          class="bg-[#292f36] h-16 w-fit text-4xl border-2 rounded-tl-[20px] rounded-br-[20px] border-[#12F7D6] px-4 flex items-center my-9 mb-16"
        >
          About Me
        </h2>

        <div class="bg-[#292f36] rounded-[20px] w-[750px] p-4 mr-10">
          <P class="my-2" />
          <p class="highlight text-2xl mb-3">Hello!</p>
          <p class="text-sm">
            My name is Eduardo and i specialize in Web Development that utilizes <span
              class="highlight">HTML</span
            >, <span class="highlight">CSS</span>, <span class="highlight"
              >JS</span
            > and <span class="highlight">REACT</span>. Currently learning <span
              class="highlight">ASTRO</span
            > and <span class="highlight">TAILWINDCSS</span>.

            <br />
            <br />
            I am highly motivated individual with a passion for learning and growing
            in the tech industry. Always looking for new challenges and opportunities
            to grow my skills. Striving to never stop learning and improving.

            <br />
            <br />
            When I'm not coding, you can find me at the GYM, maintaining a healthy
            lifestyle. I believe that physical fitness is just as important as mental
            fitness. Taking care of my body allows me to stay focused and energized
            when I'm coding, and it's a great way to balance out the sedentary nature
            of my work.
          </p>
          <P_ class="my-2 mt-3" />
        </div>
      </div>
      <img src="/img/about.png" alt="About Me" class="w-80 h-auto mb-[8%]" />
    </div>
  </section>

  <section
    id="skills"
    class="bg-cover bg-center h-dvh grid place-items-center text-center relative"
    style="background-image: url(/img/skills-bg.png);"
  >
    <Code class="absolute top-[7%] size-24" />

    <div>
      <h3 class="text-6xl text-[#12F7D6] mt-32">Skills</h3>
      <Line class="mx-auto mb-3 mt-1" />
      <p>I am striving to never stop learning and improving ;)</p>
    </div>
    <div class="grid grid-cols-3 gap-10 place-items-center">
      <div
        class="flex flex-col items-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]"
      >
        <FrontEnd />
        <p class="text-base">Front-End</p>
        <p>HTML CSS JS REACT</p>
      </div>

      <div
        class="flex flex-col items-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]"
      >
        <App />
        <p class="text-base">App Developement</p>
        <p>Coming Soon!</p>
      </div>

      <div
        class="flex flex-col items-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]"
      >
        <BackEnd />
        <p class="text-base">Back-End</p>
        <p>Coming Soon!</p>
      </div>
    </div>

    <div class="grid grid-cols-4 gap-20 mb-10">
      <HTML class="h-auto w-24" />
      <CSS class="h-auto w-24" />
      <JS class="h-auto w-24" />
      <REACT class="h-auto w-24" />
    </div>
  </section>
</Layout>

<section
  id="Projects"
  class="bg-cover bg-center h-dvh grid place-items-center text-center relative"
  style="background-image: url(/img/projects-bg.png);"
>
  <div class="w-full">
    <h3 class="text-6xl text-[#12F7D6] mt-16">Projects</h3>
    <Line2 class="mx-auto mb-3 mt-1" />
    <p>I had the pleasure of working with these awesome projects</p>
  </div>
</section>

<section
  id="contact"
  class="bg-[#292f36] h-dvh grid place-items-center text-center"
>
  <div>
    <h4 class="text-6xl text-[#12F7D6] mt-32">Contact</h4>
    <Line2 class="mx-auto mb-3 mt-1" />
    <p>I'm currently available for freelance work</p>
  </div>
  <h5
    class="bg-[#292f36] h-14 w-fit text-2xl border-2 rounded-tl-[25px] rounded-br-[25px] border-[#12F7D6] px-8 flex items-center mt-16 mb-16 text-[#12F7D6]"
  >
    Send Me A Message
  </h5>
  <div class="grid grid-cols-2 gap-x-32 w-[800px]">
    <div class="">
      <p class="text-xs text-[#12f7d6] text-start my-2">Your name*</p>
      <input
        type="text"
        required
        placeholder="Enter your name"
        class="bg-[#292f36] text-sm p-2 mb-4 border-b-2 border-[#12F7D6] focus:outline-none focus:ring-0 w-full"
      />
    </div>
    <div>
      <p class="text-xs text-[#12F7D6] text-start my-2">Your email*</p>
      <input
        type="text"
        required
        placeholder="Enter your email"
        class="bg-[#292f36] text-sm p-2 mb-4 border-b-2 border-[#12F7D6] focus:outline-none focus:ring-0 w-full"
      />
    </div>

    <div class="grid-cols-subgrid col-span-2">
      <p class="text-xs text-[#12F7D6] text-start my-2">Your message*</p>
      <textarea
        name=""
        value=""
        required
        id="textarea"
        cols="30"
        rows="1"
        placeholder="Enter your needs"
        class="bg-[#292f36] text-sm p-2 grid-cols-subgrid col-span-2 border-b-2 border-[#12F7D6] focus:outline-none focus:ring-0 w-full"
      ></textarea>
    </div>
    <button
      type="submit"
      class="bg-[#12F7D6] text-[#292f36] rounded-[20px] py-2 px-4 w-fit mx-auto flex items-center justify-center gap-x-2 text-sm my-10 mb-6 grid-cols-subgrid col-span-2"
    >
      Send Message
      <Send class="size-4" />
    </button>
  </div>
</section>
