<span
  class="text-black
          text-[10px]
          bg-[#12F7D6]
          font-medium
          rounded-full
          px-2
          py-[2px]
          me-1
          mb-2"
>
  <slot />
</span>
