---
import Download from "../icons/Download.astro";
---

<button
  class="relative mt-4 bg-white px-2 py-3 rounded-3xl text-black mb-5 z-10 flex h-[50px] w-40 items-center justify-center overflow-hidden shadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-[#12f7d6] before:duration-[350ms] before:ease-out hover:before:h-56 hover:before:w-56"
>
  <a class="z-20" href="">Download CV</a>

  <Download class="mx-2 z-20 size-6" />
</button>
