---
import GitHubIcon from "../icons/GitHub.astro";
import InstagramIcon from "../icons/Instagram.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import CodeIcon from "../icons/Code.astro";
import SocialPill from "./SocialPill.astro";
---

<footer class="flex items-center justify-around">
  <div class="flex items-center">
    <CodeIcon class="mx-2 size-7" />
    <p class="text-sm">Eduardo Valencia</p>
  </div>
  <nav class="flex items-center gap-0 my-3">
    <SocialPill href="https://www.instagram.com/eduardovg_">
      <InstagramIcon class="size-5" />
    </SocialPill>

    <SocialPill href="https://github.com/Obskurath/">
      <GitHubIcon class="size-5" />
    </SocialPill>

    <SocialPill href="https://www.linkedin.com/">
      <LinkedInIcon class="size-5" />
    </SocialPill>
  </nav>

  <p class="text-sm hidden md:block">
    Design by <span class="text-[#12F7D6]"> JonannLeon</span>
  </p>
</footer>
