---
import GitHubIcon from "../icons/GitHub.astro";
import InstagramIcon from "../icons/Instagram.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
---

<nav class="flex">
  <li><a href="/">Home</a></li>
  <div>
    <InstagramIcon />
    <a href="https://www.instagram.com">Instagram</a>
  </div>
  <div>
    <GitHubIcon />
    <a href="https://github.com">GitHub</a>
  </div>
  <div>
    <LinkedInIcon />
    <a href="https://www.linkedin.com">LinkedIn</a>
  </div>
</nav>
