---
import Home from "../icons/Home.astro";
import About from "../icons/About.astro";
import Skills from "../icons/Skills.astro";
import Projects from "../icons/Projects.astro";
import Mail from "../icons/Mail.astro";
---

<nav
  class="fixed h-fit w-fit bg-[#1A1E23] text-white border-white border-1 top-[20%] left-[3%] z-50 rounded-full px-1 py-2 grid gap-5"
>
  <a href="#top">
    <Home />
  </a>
  <a href="#about">
    <About />
  </a>
  <a href="#skills">
    <Skills />
  </a>
  <a href="#projects">
    <Projects />
  </a>
  <a href="#contact">
    <Mail />
  </a>
</nav>
