---
import Line2 from "../icons/Line2.astro";
 
---


<section
    id="projects"
    class="bg-cover bg-center min-h-screen grid place-items-center text-center relative"
    style="background-image: url(/img/projects-bg.png);"
  >
    <div class="mx-4">
      <h3 class="text-4xl lg:text-5xl text-[#12F7D6]">Projects</h3>
      <Line2 class="mx-auto mb-3 mt-1" />
      <p>I had the pleasure of working with these awesome projects</p>
    </div>
  </section>