---
import Code from "../icons/Code.astro";
import App from "../icons/App.astro";
import BackEnd from "../icons/Back-End.astro";
import CSS from "../icons/CSS.astro";
import FrontEnd from "../icons/Front-End.astro";
import HTML from "../icons/HTML.astro";
import JS from "../icons/JS.astro";
import Line from "../icons/Line.astro";
import REACT from "../icons/REACT.astro";

---

<section
    id="skills"
    class="bg-cover bg-center min-h-full flex flex-col gap-12 py-8 items-center justify-center place-items-center text-center relative px-4"
    style="background-image: url(/img/skills-bg.png);"
  >
    <Code class="size-12 mt-4 md:mt-2 md:size-20 lg:size-24" />

    <div class="mb-4">
      <h3 class="text-4xl lg:text-5xl text-[#12F7D6]">Skills</h3>
      <Line class="mx-auto mb-3 mt-1" />
      <p>I am striving to never stop learning and improving ;)</p>
    </div>

    <div
      class="grid gap-10 place-items-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 [&>div]:h-full">

      <div
        class="flex flex-col gap-2 items-center justify-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]">
        <FrontEnd />
        <p class="text-base lg:text-lg">Front-End</p>
        <p class="lg:text-base">HTML CSS JS REACT</p>
      </div>

      <div
        class="flex flex-col gap-2 items-center justify-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]">
        <App />
        <p class="text-base lg:text-lg">App Developement</p>
        <p class="lg:text-base">Coming Soon!</p>
      </div>

      <div
        class="flex flex-col gap-2 items-center justify-center bg-[#98FAEC] text-black p-4 text-xs rounded-xl w-[200px]">
        <BackEnd />
        <p class="text-base lg:text-lg">Back-End</p>
        <p class="lg:text-base">Coming Soon!</p>
      </div>

    </div>

    <div class="grid gap-x-20 gap-y-8 my-10 grid-cols-2 md:grid-cols-4 md:mt-0">
      <HTML class="h-auto w-24" />
      <CSS class="h-auto w-24" />
      <JS class="h-auto w-24" />
      <REACT class="h-auto w-24" />
    </div>
  </section>