<a
  href={Astro.props.href}
  class="flex px-3 text-s items-center text-xs transition-transform 200ms ease-in-out hover:scale-110 hover:text-[#12F7D6]"
  rel="noopener noreferrer"
  target="_blank"
>
  <slot />
</a>
