---
import Tech from "./Tech.astro";


---

<div
          class="info_tech grid grid-cols-1 h-fit py-10 w-44 bg-[#1A1E23] rounded-[24px] gap-y-10 my-0 mb-0 mx-auto self-center lg:mx-0 "
        >
          <Tech number="4" text="Programming Languages" />
          <Tech number="6" text="Developed Projects" />
          <Tech number="1" text="Year of Experience" />
        </div>