---
import Header from "../components/Header.astro";
import "@fontsource/ibm-plex-mono";
import "@fontsource/ubuntu";
import Separator from "../components/Separator.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Header />
  <div class="container mx-auto px-4">
    <Separator class="w-90" />
  </div>

  <body>
    <slot />
  </body>

  <style is:global>
    :root {
      color-scheme: dark light;
    }
    html {
      font-family: system-ui, sans-serif;
      background: #13151a;
      background-size: 224px;

      font-family: "IBM Plex Mono", monospace;
    }

    .container {
      max-width: 90%;
    }

    body {
      background-color: #292f36;
    }

    a {
      cursor: pointer;
      list-style: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Ubuntu", sans-serif;
    }

    p {
      font-family: "IBM Plex Mono", monospace;
    }

    button {
      font-family: "Ubuntu", sans-serif;
    }
  </style>


</html>
